
@{
    ViewData["Title"] = "About Us";
}
<section class="about">
    <h3>About Us</h3>
    <p>
        The Jeddah Recycling & Waste Reduction Hub was established with the goal of educating and empowering Jeddah residents
        to adopt sustainable practices in their daily lives. We believe that small, conscious choices can lead to significant
        positive change for our environment.
    </p><br><br>
    <h3> Our Mission </h3>
    <p>
        We aim to make Jeddah a model of sustainability in Saudi Arabia by focusing on recycling, waste reduction, and
        community engagement. Through events, workshops, and educational resources, we aim to foster a culture of environmental
        responsibility and inspire everyone to take action for a greener tomorrow.
    </p><br>
    <p>
        Whether you're an individual looking to reduce your environmental footprint or a business wanting to implement green
        practices, we are here to support you on this journey. <br>Together, let's build a sustainable Jeddah!
    </p>
</section>

<section class="email about">

    <h4> Get Involved </h4>
    <p>
        Join us in our mission to make Jeddah a greener place!
        <br>Sign up for our newsletter to stay updated on events and initiatives.
        <form>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="example@mail.com">
            <button type="button" onclick="subscribe()">Subscribe</button>
        </form>
    </p><br>

    

    <form method="get" action="">
        <h4> Rate Our Website </h4>
        <select>
            <option> Outstanding </option>
            <option> Above Average </option>
            <option> Average </option>
            <option> Below Average </option>
            <option> Poor </option>
        </select><br>
        <button type="submit"> Submit </button>
        <br><br><br><br><br><br>
    </form>
</section>


<script>
    function subscribe() {
        const email = document.getElementById("email").value;
        const emailField = document.getElementById("email");

        // Check if the email is valid using HTML5 email validation
        if (emailField.validity.valid) {
            alert(`You have subscribed successfully with email: ${email}`);
            page.reload(); // ------------------------------------------------ Fix reload page function
        } else {
            alert("Please enter a valid email address.");
        }
    }
</script>