
@{
    ViewData["Title"] = "Contact Us";
}
<main style="margin: 30px;">
    <h3>Contact Us</h3>
    <p>Feel free to reach out to us through the information below.</p><br>
    <section class="contact">
        <p><strong>Email:</strong> </p>
        <p>
            <strong>Number:</strong>
 
        </p>
        <p><strong>Address: </strong>  </p>


    </section>
    
    <br><br>
</main>