
@{
    ViewData["Tile"] = "Events";
}
<section class="event">
    <h2>Community Clean-Up Day at Jeddah Corniche</h2>
    <img src="/recycle-bins.webp" width="450" alt="Recycle Bins.">
    <p><strong>Date:</strong> November 15, 2024</p>
    <p>
        <strong>Description:</strong> Join us for a community clean-up event to
        maintain Jeddah's beautiful coastline.
    </p>
    <button type="button" onclick="notifyMe(3)"> &#128276 Notify Me</button>
</section>

<section class="event">
    <h2>Eco-Friendly Product Fair</h2>
    <img src="/EcoProduct.jpg" width="300" alt="Represents Eco Product.">
    <p><strong>Date:</strong> January 12, 2025</p>
    <p>
        <strong>Description:</strong> Explore a variety of eco-friendly
        products and meet local vendors promoting sustainability.
    </p>
    <button type="button" onclick="notifyMe(3)"> &#128276 Notify Me</button>
</section>

<section class="event">
    <h2>Beach Preservation Initiative</h2>
    <img src="/Beach Preservation Initiative.png" width="450" alt="Beach Recycables Cleaning.">
    <p><strong>Date:</strong> February 20, 2025</p>
    <p>
        <strong>Description:</strong> Volunteer to help preserve Jeddah's
        beautiful beaches by participating in clean-up activities.
    </p>
    <button type="button" onclick="notifyMe(3)"> &#128276 Notify Me</button>
</section>

<section class="event">
    <h2>Earth Day Celebration and Workshop</h2>
    <p><strong>Date:</strong> April 22, 2025</p>
    <p>
        <strong>Description:</strong> Celebrate Earth Day with hands-on
        activities and workshops focused on environmental awareness.
    </p>
    <button type="button" onclick="notifyMe(3)"> &#128276 Notify Me</button>
</section>
<br>
<br>
<br>
<br>
